USE [master]
GO
/****** Object:  Database [MI_BASE_DE_DATOS]    Script Date: 23/10/2023 18:40:04 ******/
CREATE DATABASE [MI_BASE_DE_DATOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MI_BASE_DE_DATOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MI_BASE_DE_DATOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MI_BASE_DE_DATOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MI_BASE_DE_DATOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MI_BASE_DE_DATOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MI_BASE_DE_DATOS]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_Clientes] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Allende] [nvarchar](50) NOT NULL,
	[id_Localidad] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[id_Clientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientesMonedas]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientesMonedas](
	[id_Clientes] [int] NULL,
	[id_Monedas] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[CVU] [int] NULL,
	[id_Estado] [nvarchar](50) NOT NULL,
	[id_Clientes] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbo.Clientes]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbo.Clientes](
	[Id_Cliente] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apedillo] [nvarchar](50) NOT NULL,
	[id_Localidad] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emails]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emails](
	[Emails] [nvarchar](50) NOT NULL,
	[id_Clientes] [int] NOT NULL,
 CONSTRAINT [PK_Emails] PRIMARY KEY CLUSTERED 
(
	[Emails] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosCuentas]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosCuentas](
	[id_Estado] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EstadosCuentas] PRIMARY KEY CLUSTERED 
(
	[id_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[id_Localidad]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[id_Localidad](
	[id_Localidad] [int] NOT NULL,
	[Localidad] [nvarchar](50) NOT NULL,
	[zona] [nvarchar](50) NULL,
 CONSTRAINT [PK_id_Localidad] PRIMARY KEY CLUSTERED 
(
	[id_Localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[id_Localidad] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[id_Provincia] [int] NULL,
 CONSTRAINT [PK_Localidades] PRIMARY KEY CLUSTERED 
(
	[id_Localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monedas]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monedas](
	[id_Monedas] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Monedas] PRIMARY KEY CLUSTERED 
(
	[id_Monedas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[id_Provincia] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[id_Provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transferencias]    Script Date: 23/10/2023 18:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transferencias](
	[CVUOrigen] [int] NOT NULL,
	[CVUDestino] [int] NOT NULL,
	[Monto] [int] NOT NULL,
 CONSTRAINT [PK_Transferencias] PRIMARY KEY CLUSTERED 
(
	[Monto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD FOREIGN KEY([id_Localidad])
REFERENCES [dbo].[Localidades] ([id_Localidad])
GO
ALTER TABLE [dbo].[ClientesMonedas]  WITH CHECK ADD FOREIGN KEY([id_Clientes])
REFERENCES [dbo].[Clientes] ([id_Clientes])
GO
ALTER TABLE [dbo].[ClientesMonedas]  WITH CHECK ADD FOREIGN KEY([id_Clientes])
REFERENCES [dbo].[Clientes] ([id_Clientes])
GO
ALTER TABLE [dbo].[ClientesMonedas]  WITH CHECK ADD FOREIGN KEY([id_Monedas])
REFERENCES [dbo].[Monedas] ([id_Monedas])
GO
ALTER TABLE [dbo].[ClientesMonedas]  WITH CHECK ADD FOREIGN KEY([id_Monedas])
REFERENCES [dbo].[Monedas] ([id_Monedas])
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD FOREIGN KEY([id_Clientes])
REFERENCES [dbo].[Transferencias] ([Monto])
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD FOREIGN KEY([id_Estado])
REFERENCES [dbo].[EstadosCuentas] ([id_Estado])
GO
ALTER TABLE [dbo].[dbo.Clientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clientes_id_Localidad] FOREIGN KEY([id_Localidad])
REFERENCES [dbo].[id_Localidad] ([id_Localidad])
GO
ALTER TABLE [dbo].[dbo.Clientes] CHECK CONSTRAINT [FK_dbo.Clientes_id_Localidad]
GO
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD FOREIGN KEY([id_Clientes])
REFERENCES [dbo].[Clientes] ([id_Clientes])
GO
ALTER TABLE [dbo].[Localidades]  WITH CHECK ADD FOREIGN KEY([id_Provincia])
REFERENCES [dbo].[Provincias] ([id_Provincia])
GO
USE [master]
GO
