.col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid cornflowerblue;
    padding: 10px;
    background-color: aliceblue;
    transform-style: preserve-3d;
    animation: mover 3s ease 1;
    
}
@keyframes mover {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(180deg) rotateY(90deg);
    }
    100% {
        transform: rotateX(0deg)rotateY(0deg);
    }
}
*::selection {
    color: aliceblue;
    background-color: cornflowerblue;
}
p{
    text-align: center;
}
button {
    box-shadow: 1px 2px 6px black;
    background-color: #007BFF;
    color: #fff;
    border: solid black 1px;
}
.col2 {
    padding: 10px;
    margin-left: 20px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid cornflowerblue;
    background-color: aliceblue;

}
.row1{
    display: flex;
}
.name {
    font-size: 18px;
    color: #007BFF;
}
