
        <div class="row d-flex justify-content-center align-items-center bg-primary">
          <img src="../../../assets/headimage-01.avif" width="200px" class="col-sm-1 d.flex align-self-start">
          <form *ngIf="!mostrarRecibo" [formGroup]="formularioBuy" class="col-lg-3 bg-black border border-ligth border-2 p-2 m-2 row d-flex justify-content-center align-items-center">
              <label for="Tipo" class="form-label row text-light">Tipo de Accion:</label>
              <select formControlName="tipo" class="form-control-sm m-2" aria-describedby="Tipo">
                <option *ngFor="let data of listCotizaciones" [value]="data.ultimoPrecio">{{data.simbolo}}</option>
              </select>
                <label for="PrecioU" class="form-label row text-light">Precio por Unidad:</label>
                <p>{{formularioBuy.controls.tipo.value}}</p>
                <label for="Cantidad" class="form-label row text-light">Cantidad:</label>
                <input type="number" formControlName="cantidad" class="form-control-sm m-2" aria-describedby="Cantidad" min="1" pattern="0"> <br>
                <button class="btn btn-primary" [disabled]="formularioBuy.valid" (click)="recibo()">Recibo</button>
              </form>
              <div *ngIf="mostrarRecibo"class="col-lg-2 bg-black border border-ligth border-2 p-2 m-2 row d-flex justify-content-center align-items-center">
                <p class="row text-light">Cantidad:</p>
                <p>{{formularioBuy.controls.cantidad.value}}</p>
                <p class="row text-light">Precio:</p>
                <p>{{total}}</p>
                <div  class="d-flex inline-flex">
                <button (click)="volver()" class="btn col-lg-4 btn-primary " >Volver</button>
                <div class="col-lg-4"></div>
                <button class="btn col-lg-4 btn-primary" >Comprar</button>
                </div>
            </div>
            <img src="../../../assets/mainimage-00.avif" width="200px" class="col-sm-1 d.flex align-self-end">
        </div>

