<section>
  <section class="d-flex flex-column align-items-center py-5">
    <h2 class="fw-bold">¿Quienes somos?</h2>
    <p>Somos unos estudiantes del Instituto Superior Politecnico de Córdoba</p>
    <p>Hemos creado ARGBroker para aplicar y perfeccionar nuestros conocimientos adquiridos en el curso del ISPC</p>
  </section>
  <section class="bg-primary pb-5 pt-4">
    <p class="fw-bold text-center fs-2 text-light mb-3">¡Conocenos!</p>
    <ul class="list-unstyled d-flex gap-4 justify-content-center">
      <li class="text-center card">
        <section class="card-body">

          <p class="m-0 fs-5 fw-bold">Mariano Bazan</p>
          <p class="fw-light ">Scrum Master</p>
          <a href="https://linkedin.com/in/marianobazanc" target="_blank"><i class="fs-4 bi bi-linkedin"></i></a>
        </section>
      </li>
      <li class="text-center card">
        <section class="card-body">

          <p class="m-0 fs-5 fw-bold">Juan Calero</p>
          <p class="fw-light ">Web Developer</p>
          <a href="https://www.linkedin.com/in/juan-calero/" target="_blank"><i class="fs-4 bi bi-linkedin"></i></a>
        </section>
      </li>
      <li class="text-center card">
        <section class="card-body">

          <p class="m-0 fs-5 fw-bold">Nahir Smith</p>
          <p class="fw-light ">Web Developer</p>
          <a href="https://www.linkedin.com/in/nahir-smith-0226b625b/" target="_blank"><i class="fs-4 bi bi-linkedin"></i></a>
        </section>
      </li>
      <li class="text-center card">
        <section class="card-body">

          <p class="m-0 fs-5 fw-bold">Matias Allende</p>
          <p class="fw-light ">Web Developer</p>
          <a href="https://ar.linkedin.com/in/matias-allende-1595241b0" target="_blank"><i class="fs-4 bi bi-linkedin"></i></a>

        </section>
      </li>
      <li class="text-center card">
        <section class="card-body">

          <p class="m-0 fs-5 fw-bold">Lorenzo Purro</p>
          <p class="fw-light ">Web Developer</p>
          <a href="https://www.linkedin.com/in/pascal-purro-60802977/" target="_blank"><i class="fs-4 bi bi-linkedin"></i></a>

        </section>
      </li>
    </ul>
  </section>
</section>
