<section class="py-5">
  <section>
    <div class="text-center">
      <h1 class="display-4 lh-1">Invertí con nosotros</h1>
      <h1 class="display-4 fw-bold">pagando la comisión<br> <span class="text-white">MAS BAJA</span></h1>
      <a href="#" class="btn btn-light btn-lg px-5 mt-3">Conocé más</a>
    </div>
  </section>

  <section class="mt-5 py-5 bg-white">
    <div class="container">


      <h3 class="h3 text-primary fw-normal">
        Ahora invertir tu plata te lleva solo un click 💸
      </h3>
      <p>
        Lanzamos más acciones en dolares, para que ahora
        también puedas potenciar esa <br />
        parte de tus ahorros fácil y rápido. ¿Qué estás esperando para
        conocerlos?
      </p>
      <a href="#" class="btn btn-primary px-5">Ver más</a>
    </div>
  </section>
</section>

<section class="bg-primary pb-5">
  <div class="container text-end">
    <p class="lead text-white fw-medium m-0">Potenciá tus ahorros</p>
    <h3 class="display-6">
      Hacé tu <strong>primera inversión</strong>
    </h3>
    <p class="text-white fw-normal">
      Empezá a poner tu dinero en movimiento, sin conocer mucho sobre
      el mercado.
    </p>
    <a href="#" class="btn btn-light w-25 fw-medium">
      Conocé más
    </a>
  </div>
</section>

<section class="bg-white pb-5">

  <div class="container py-5">
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column text-center">
        <p class="lead text-secondary fw-medium">ARGBROKEN es para vos</p>
        <h3 class="display-2 fw-normal">
          La apertura y mantenimiento <br />
          de tu cuenta
          <strong class="">es gratis.</strong>
        </h3>
      </div>
    </div>
  </div>
  <div class="container bg-dark text-light py-5 rounded">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column">
          <p class="fw-normal h3">
            <strong>No pierdas la oportunidad de potenciar tu dinero.</strong>
          </p>
          <p class="fw-medium h6">
            Creá tu cuenta gratis en minutos, sin compromisos.
          </p>
        </div>
        <a href="#" class="btn btn-primary py-3 px-5">Abrir cuenta</a>
      </div>
    </div>
  </div>

</section>
