<div>
  <h2>Comprar Acción</h2>

  <form #compraForm="ngForm" (ngSubmit)="comprarAccion()">
    <section class="bg-dark px-4 py-5 text-white d-flex flex-column align-items-center">
      <div class="col-sm-4">
        <label for="accion">Selecciona una Acción:</label>
        <select class="form-select" id="accion" name="accion" [(ngModel)]="compraData.accionId" required>
          <option value="" disabled>Elige una acción</option>
          <option *ngFor="let accion of listCotizaciones" [value]="accion.id">{{ accion.nombre }}</option>
        </select>
      </div>

      <div *ngIf="compraData.accionId">
        <p>Precio: {{ getPrecio(compraData.accionId) | currency }}</p>
      </div>

      <div class="col-sm-4 my-3">
        <label for="cantidad">Cantidad:</label>
        <input class="form-control" type="number" id="cantidad" name="cantidad" [(ngModel)]="compraData.cantidad"
          required>
      </div>

      <div>
        <button class="btn btn-success" type="submit">Comprar</button>
      </div>
    </section>
  </form>

  <div *ngIf="reciboGenerado">
    <section class="text-white d-flex flex-column align-items-center bg-dark mt-1 py-5 px-4 col-sm-4 m-auto">
      <h2 class="text-center">Recibo de Compra</h2>
      <div class="m-auto col-4">
        <p><strong>Acción:</strong> {{ getNombreAccion(compraData.accionId) }}</p>
        <p><strong>Precio:</strong> {{ getPrecio(compraData.accionId) | currency }}</p>
        <p><strong>Cantidad:</strong> {{ compraData.cantidad }}</p>
        <p><strong>Comision:</strong> {{comision}}%</p>
        <p><strong>Total:</strong> {{ calcularTotal() | currency }}</p>
      </div>
    </section>
  </div>
</div>
