<section class="container">
  <form [formGroup]="registerForm" (submit)="register()" class="text-white mx-auto col-lg-5 p-4 card bg-dark">
    <header class="text-center">
      <h3 class="mb-0 fw-bold text-uppercase">Registrate</h3>
      <p>Rellená todos los campos y registrate</p>
    </header>

    <section class="mb-3 d-flex flex-column flex-sm-row justify-content-between gap-2">
      <section class="w-100">
        <label for="nombre">Nombre</label>
        <input formControlName="nombre" class="form-control" type="text" name="nombre" />
        <div *ngIf="nombre.invalid && (nombre.touched || nombre.dirty)" class="text-danger p-0 m-0">
          <div *ngIf="nombre.errors?.['required']">
            El nombre es requerido.
          </div>
        </div>
      </section>

      <section class="w-100">
        <label for="apellido">Apellido</label>
        <input formControlName="apellido" class="form-control" type="text" name="apellido" />
        <div *ngIf="apellido.invalid && (apellido.touched || apellido.dirty)" class="text-danger p-0 m-0">
          <div *ngIf="apellido.errors?.['required']">
            El apellido es requerido.
          </div>
        </div>
      </section>

    </section>


    <section class="d-flex flex-column flex-sm-row justify-content-between gap-2 mb-3">
      <section class="w-100">
        <label for="dni">DNI</label>
        <input formControlName="dni" class="form-control" type="text" name="dni" />
        <div *ngIf="dni.invalid && (dni.touched || dni.dirty)" class="text-danger p-0 m-0">
          <div *ngIf="dni.errors?.['required']">
            El DNI es requerido.
          </div>
          <div *ngIf="dni.errors?.['dniInvalido']">
            El DNI debe contener solo números y tener una longitud de 7 u 8 caracteres.
          </div>
        </div>
      </section>

      <section class="w-100">
        <label for="pais">País</label>
        <select formControlName="pais" class="form-control" name="pais" >
          <option value="" disabled>Selecciona un pais</option>
          <option *ngFor="let pais of paises" [value]="pais">{{pais}}</option>
        </select>
        <div *ngIf="pais.invalid && (pais.touched || pais.dirty)" class="text-danger p-0 m-0">
          <div *ngIf="pais.errors?.['required']">
            El pais es requerido.
          </div>
        </div>
      </section>
    </section>



    <section class=" d-flex flex-column flex-sm-row justify-content-between gap-2 mb-3">
      <section class="w-100">
        <label for="email">Email</label>
        <input formControlName="email" class="form-control" type="text" name="email" />
        <div *ngIf="email.invalid && (email.touched || email.dirty)" class="text-danger p-0 m-0">
          <div *ngIf="email.errors?.['required']">
            El email es requerido.
          </div>
          <div *ngIf="email.errors?.['email']">
            El email no es válido.
          </div>
        </div>
      </section>

      <section class="w-100">
        <label for="telefono">Telefono</label>
        <input formControlName="telefono" class="form-control" type="text" name="telefono" />
        <div *ngIf="telefono.invalid && (telefono.touched || telefono.dirty)" class="text-danger p-0 m-0">
          <div *ngIf="telefono.errors?.['required']">
            El telefono es requerido.
          </div>
        </div>
      </section>
    </section>



    <section class="d-flex flex-column flex-sm-row justify-content-between gap-2 mb-2">
      <section class="w-100">
        <label for="contraseña">Contraseña</label>
        <input formControlName="password" class="form-control" name="contraseña" type="password" />
        <div *ngIf="password.invalid && (password.touched || password.dirty)" class="text-danger p-0 m-0">

          <div *ngIf="password.errors?.['required']">
            La contraseña es requerida.
          </div>

        </div>
      </section>

      <section class="w-100">
        <label for="contraseñaRepetida">Repetir contraseña</label>
        <input formControlName="passwordRepeat" class="form-control" name="contraseñaRepetida" type="password" />
        <div *ngIf="passwordRepeat.invalid && (passwordRepeat.touched || passwordRepeat.dirty)" class="text-danger p-0 m-0">
          <div *ngIf="passwordRepeat.errors?.['required']">
            La contraseña es requerida.
          </div>
        </div>

      </section>

    </section>

    <section class="mb-2 d-flex gap-1 align-items-center">
      <input type="checkbox" formControlName="tyc" id="checkbox">
      <label for="checkbox">Acepto los terminos y condiciones.</label>
    </section>


    <button class="btn btn-success form-control" [disabled]="!registerForm.valid">Registrarme</button>

    <footer class="mt-3">
      <p class="mb-0">¿Ya tienes una cuenta creada? <a class="text-decoration text-white" (click)="navigate()">Iniciar sesion</a> </p>
      <span *ngIf="error.length != 0" class="alert alert-danger form-control mb-0">{{error}}</span>
    </footer>
  </form>
</section>
